body {
    margin: 0;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		/* text-align: center; */
}

#root {
	text-align: center;
}

h1 {
    color: rgb(1, 252, 252);
    text-shadow: 1px 1px black;
}

label {
    padding-right: 1rem;
    font-weight: bold;
}

ul li {
    list-style-type: none;
    color: rgb(126, 3, 3);
}

hr {
	width: 80%;
}


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */